html {
background-image: linear-gradient(#ff8a00, #e52e71);
background-image: linear-gradient(to right, violet, darkred, purple);
background-image: linear-gradient(40deg, rgb(255 0 0) 45%, orange);
background-repeat: no-repeat;
background-size: 2000px 2000px ;
}

@media screen and (min-width: 300px) and (max-width: 768px) {

}

@media screen and (min-width: 1200px) {

.logo {
    display: fixed;
    width: 15vw;
    left: 7.5vw;
}
#main-nav {
    display: fixed;
    width: 2vw;
    float: right;
    right: 50vw;
    font-size: 1.2rem;
}
#main-nav summary{
    display: fixed;
    list-style: none;
    color: white;
}
summary h1 {
    color: black;
    position: relative;
    right: 2vw;
}
#nav-bigscreen ul {
    list-style: none;
    float: left;
    position: relative;
    right: 13vw;
    bottom: 5vh;
}

#nav-bigscreen a {
    text-decoration: none;
    font-size: 1.3rem;
    float: left;
   margin: 0.5vw;
}

#nav-bigscreen a:link, a:visited, a:active {
   color: black;
}

#nav-bigscreen a:hover{
    color: purple;
}
.blok1 {
    position: relative;
    background-color: white;
    height: 40vh;
    width: 60vw;
    top: 60vh;
    left: 20vw;
    margin: 5vw;
}
}